import calendar
from calendar import day_name
import requests
import csv
from datetime import date
from requests.api import head
import pandas as pd

curr_date = date.today()
today = date.today().strftime("%Y%m%d")
print(today)

Day = [0,1,2,3,4,5,6,]
combine_ourdata = []
for y in Day:
    Date_DL =(int(today)+y)
    #print(Date_DL)

    str1 = 'https://www.rthk.hk/radio/getTimetable?d='
    str2 = str(Date_DL)
    str3 = '&c=radio1'

    url= str1+str2+str3
    #print(url)

    headers = {
         'Accept':'application/json',
         'Content-Type':'application/json'
    }

    response = requests.request("Get", url,headers=headers,data={})
    myjson = response.json()
    ourdata = []
    
    csvheader = ['Program_channel','Program_url','Date','Program_time', 'ENG_TITLE','CHIN_TITLE']

    for x in myjson['timetable']:
        listing=[x['programme'],x['name']]
        program_time = [x['start'],x['end']]
        combine_time = program_time[0]+'-'+ program_time[1]
        #print(combine_time)
        ourdata.append(listing)
        listing.insert(0,'第一台')
        listing.insert(1,url)
        listing.insert(2,Date_DL) 
        listing.insert(3,combine_time)
        
    combine_ourdata.append(ourdata)




for y in Day:
    Date_DL =(int(today)+y)
    #print(Date_DL)

    str1 = 'https://www.rthk.hk/radio/getTimetable?d='
    str2 = str(Date_DL)
    str3 = '&c=radio2'

    url= str1+str2+str3
    #print(url)

    headers = {
         'Accept':'application/json',
         'Content-Type':'application/json'
    }

    response = requests.request("Get", url,headers=headers,data={})
    myjson = response.json()
    ourdata = []
    
    csvheader = ['Program_channel','Program_url','Date','Program_time', 'ENG_TITLE','CHIN_TITLE']

    for x in myjson['timetable']:
        listing=[x['programme'],x['name']]
        program_time = [x['start'],x['end']]
        combine_time = program_time[0]+'-'+ program_time[1]
        #print(combine_time)
        ourdata.append(listing)
        listing.insert(0,'第二台')
        listing.insert(1,url)
        listing.insert(2,Date_DL) 
        listing.insert(3,combine_time)
        
    combine_ourdata.append(ourdata)






for y in Day:
    Date_DL =(int(today)+y)
    #print(Date_DL)

    str1 = 'https://www.rthk.hk/radio/getTimetable?d='
    str2 = str(Date_DL)
    str3 = '&c=radio3'

    url= str1+str2+str3
    #print(url)

    headers = {
         'Accept':'application/json',
         'Content-Type':'application/json'
    }

    response = requests.request("Get", url,headers=headers,data={})
    myjson = response.json()
    ourdata = []
    
    csvheader = ['Program_channel','Program_url','Date','Program_time', 'ENG_TITLE','CHIN_TITLE']

    for x in myjson['timetable']:
        listing=[x['programme'],x['name']]
        program_time = [x['start'],x['end']]
        combine_time = program_time[0]+'-'+ program_time[1]
        #print(combine_time)
        ourdata.append(listing)
        listing.insert(0,'第三台')
        listing.insert(1,url)
        listing.insert(2,Date_DL) 
        listing.insert(3,combine_time)
        
    combine_ourdata.append(ourdata)



for y in Day:
    Date_DL =(int(today)+y)
    #print(Date_DL)

    str1 = 'https://www.rthk.hk/radio/getTimetable?d='
    str2 = str(Date_DL)
    str3 = '&c=radio4'

    url= str1+str2+str3
    #print(url)

    headers = {
         'Accept':'application/json',
         'Content-Type':'application/json'
    }

    response = requests.request("Get", url,headers=headers,data={})
    myjson = response.json()
    ourdata = []
    
    csvheader = ['Program_channel','Program_url','Date','Program_time', 'ENG_TITLE','CHIN_TITLE']

    for x in myjson['timetable']:
        listing=[x['programme'],x['name']]
        program_time = [x['start'],x['end']]
        combine_time = program_time[0]+'-'+ program_time[1]
        #print(combine_time)
        ourdata.append(listing)
        listing.insert(0,'第四台')
        listing.insert(1,url)
        listing.insert(2,Date_DL) 
        listing.insert(3,combine_time)
        
    combine_ourdata.append(ourdata)





for y in Day:
    Date_DL =(int(today)+y)
    #print(Date_DL)

    str1 = 'https://www.rthk.hk/radio/getTimetable?d='
    str2 = str(Date_DL)
    str3 = '&c=radio5'

    url= str1+str2+str3
    #print(url)

    headers = {
         'Accept':'application/json',
         'Content-Type':'application/json'
    }

    response = requests.request("Get", url,headers=headers,data={})
    myjson = response.json()
    ourdata = []
    
    csvheader = ['Program_channel','Program_url','Date','Program_time', 'ENG_TITLE','CHIN_TITLE']

    for x in myjson['timetable']:
        listing=[x['programme'],x['name']]
        program_time = [x['start'],x['end']]
        combine_time = program_time[0]+'-'+ program_time[1]
        #print(combine_time)
        ourdata.append(listing)
        listing.insert(0,'第五台')
        listing.insert(1,url)
        listing.insert(2,Date_DL) 
        listing.insert(3,combine_time)
        
    combine_ourdata.append(ourdata)



for y in Day:
    Date_DL =(int(today)+y)
    #print(Date_DL)

    str1 = 'https://www.rthk.hk/radio/getTimetable?d='
    str2 = str(Date_DL)
    str3 = '&c=radio6'

    url= str1+str2+str3
    #print(url)

    headers = {
         'Accept':'application/json',
         'Content-Type':'application/json'
    }

    response = requests.request("Get", url,headers=headers,data={})
    myjson = response.json()
    ourdata = []
    
    csvheader = ['Program_channel','Program_url','Date','Program_time', 'ENG_TITLE','CHIN_TITLE']

    for x in myjson['timetable']:
        listing=[x['programme'],x['name']]
        program_time = [x['start'],x['end']]
        combine_time = program_time[0]+'-'+ program_time[1]
        #print(combine_time)
        ourdata.append(listing)
        listing.insert(0,'第六台')
        listing.insert(1,url)
        listing.insert(2,Date_DL) 
        listing.insert(3,combine_time)
        
    combine_ourdata.append(ourdata)



for y in Day:
    Date_DL =(int(today)+y)
    #print(Date_DL)

    str1 = 'https://www.rthk.hk/radio/getTimetable?d='
    str2 = str(Date_DL)
    str3 = '&c=pth'

    url= str1+str2+str3
    #print(url)

    headers = {
         'Accept':'application/json',
         'Content-Type':'application/json'
    }

    response = requests.request("Get", url,headers=headers,data={})
    myjson = response.json()
    ourdata = []
    
    csvheader = ['Program_channel','Program_url','Date','Program_time', 'ENG_TITLE','CHIN_TITLE']

    for x in myjson['timetable']:
        listing=[x['programme'],x['name']]
        program_time = [x['start'],x['end']]
        combine_time = program_time[0]+'-'+ program_time[1]
        #print(combine_time)
        ourdata.append(listing)
        listing.insert(0,'普通話台')
        listing.insert(1,url)
        listing.insert(2,Date_DL) 
        listing.insert(3,combine_time)
        
    combine_ourdata.append(ourdata)


file_name = 'RTHK'+ today +'.csv'

with open(file_name,'w',encoding='utf_8_sig', newline='')as f:
    writer = csv.writer(f)
    writer.writerow(csvheader)
    for line in combine_ourdata:
        writer.writerows(line)
    
print('done -.-')
